<%- include('head.ejs'); %>
<body>
<%- include('header.ejs'); %>
<div class="container">
<h2><a href="/auth/microsoft">マイクロソフトのアカウントでログイン</a></h2>
  <div class="description">
  本お弁当注文システムでは、筑波技術大学の学生または教職員を対象としています。</br>
  ログインすることによって氏名、メールアドレスとアカウント取得いたします。ご了承ください。</br>
    （注文時に氏名とメールアドレスを使わせていただきます）
  </div>
</div>
</body>